<div class="header">
	<app-header></app-header>
</div>
<section>
	<app-navbar class="navbar"></app-navbar>
	<article>
		<h3 class="header">seagull</h3>
		<img src="../assets/pexels-pixabay-56618.jpg" class="burd">
		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam sem et tortor consequat id porta nibh venenatis cras. Ipsum a arcu cursus vitae congue mauris rhoncus. Nibh tellus molestie nunc non blandit massa enim nec dui. Nunc sed blandit libero volutpat sed cras ornare. Morbi blandit cursus risus at ultrices mi tempus. Sem integer vitae justo eget magna fermentum iaculis eu. Luctus accumsan tortor posuere ac ut consequat semper. Lectus magna fringilla urna porttitor rhoncus dolor purus non. Sed blandit libero volutpat sed cras. Ut tellus elementum sagittis vitae et leo duis ut. Tincidunt arcu non sodales neque sodales ut etiam sit. Nam at lectus urna duis convallis convallis.
<br/>
<br/>
Elementum nisi quis eleifend quam adipiscing vitae proin. Justo donec enim diam vulputate ut pharetra sit amet aliquam. Facilisi morbi tempus iaculis urna id volutpat lacus. Aliquet bibendum enim facilisis gravida neque convallis a cras. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci. Aliquam ut porttitor leo a diam. Amet risus nullam eget felis eget nunc lobortis mattis aliquam. Diam in arcu cursus euismod quis viverra. Vel risus commodo viverra maecenas accumsan. In hendrerit gravida rutrum quisque non tellus. Et odio pellentesque diam volutpat commodo sed egestas egestas. Accumsan tortor posuere ac ut consequat semper viverra nam libero. Lorem dolor sed viverra ipsum nunc aliquet bibendum enim facilisis. Eget felis eget nunc lobortis mattis aliquam faucibus purus.
		</p>
		<p>
In cursus turpis massa tincidunt dui. Nunc faucibus a pellentesque sit. Tristique senectus et netus et malesuada fames ac turpis. Aenean sed adipiscing diam donec. Eu consequat ac felis donec et. Venenatis urna cursus eget nunc. Egestas fringilla phasellus faucibus scelerisque eleifend donec. Nisl tincidunt eget nullam non nisi est sit. Ornare quam viverra orci sagittis eu volutpat. Dolor magna eget est lorem ipsum dolor sit amet consectetur.
<br/>
<br/>
Vivamus arcu felis bibendum ut tristique et egestas quis. Eget nullam non nisi est sit amet. Vitae aliquet nec ullamcorper sit. Ac orci phasellus egestas tellus rutrum tellus pellentesque eu. Massa massa ultricies mi quis. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Sit amet risus nullam eget. Sem integer vitae justo eget magna fermentum. At quis risus sed vulputate odio. Sit amet consectetur adipiscing elit duis. Morbi enim nunc faucibus a pellentesque sit amet. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Amet consectetur adipiscing elit duis tristique sollicitudin nibh. Elementum curabitur vitae nunc sed velit dignissim sodales ut eu. Odio euismod lacinia at quis risus sed vulputate odio ut.
<br/>
<br/>
Aliquam ultrices sagittis orci a. Amet porttitor eget dolor morbi non. Tellus pellentesque eu tincidunt tortor aliquam. In iaculis nunc sed augue lacus viverra vitae congue eu. Enim sit amet venenatis urna cursus eget nunc scelerisque. Enim praesent elementum facilisis leo vel fringilla. Purus viverra accumsan in nisl nisi scelerisque eu ultrices. Facilisi morbi tempus iaculis urna id. Porta nibh venenatis cras sed felis. Egestas erat imperdiet sed euismod nisi porta. Sit amet dictum sit amet. Volutpat diam ut venenatis tellus. Lorem ipsum dolor sit amet consectetur adipiscing.
		</p>
	</article>
</section>
<div class="footer">
	<app-footer></app-footer>
</div>
