<h1>{{title}}</h1>

<form [formGroup]="loginform" (ngSubmit)="loginconfirm()">
	<div class="row">
	<input type="text" placeholder="name" formControlName="user">
	<br/>
	<span *ngIf="email?.invalid && email?.touched">error: email required</span>
	<input type="password" placeholder="password" formControlName="password">
	<br/>
	</div><div class="row">
	<input type="text" placeholder="phonenumber" formControlName="phone">
	<br/>
	<input type="text" placeholder="favourite word" formControlName="favouriteWord">
	<br/>
	</div>
	<button>login</button>
</form>
