.burd	{
	float: left;
	height: 300px;
	width: auto;
	margin: 10px;
}

.header	{
	justify-content: space-around;
	text-align: center;
	background: #aaaaaaff;
	margin-top: -22px;
	margin-bottom: 0px;
}

.footer	{
	justify-content: space-around;
	text-align: center;
	background: #aaaaaaff;
	margin-top: -16px;
	padding: 30px;
}

article	{
	background: #888888ff;
	margin-bottom: 0px;
}
